* {
	box-sizing: border-box;
    font-family: Roboto;

}

body{
    position:absolute;
    background-color: #F3F3F3;
}

header{
height:80px;
width: 100%;
background-color: #FFFFFF;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
position: fixed;
top:0;
left:0;
}

.logo-uol{
width: 75px;
height: 53px;
margin-left: 22px;
}

.vector-uol{
Width: 42.19px;
Height: 30.94px;
margin-right: 22px;
}

main{
background-color: #F3F3F3;
margin-top: 106px;
}

footer{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
position: fixed;
bottom: 0;
right: 0;
width: 100%;
height: 80px;  
background: #FFFFFF;
box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer ion-icon{
margin-right: 26px;
font-size: 32px;
}


input{
height: 80px; 
width: 100%;
border:none;
margin-left:17px;
font-weight: 400;
font-style: italic;
font-size: 18px;
Line-height: 21.09px;
}

.message-container{
width:100vw;
min-height: 40px;
margin-bottom: 4px;
}

.message-structure{
font-size: 14px;
margin-left: 8px;
margin-right: 9px;
padding-top: 10px;
padding-bottom: 10px;
}

.moving{
    background-color: #DCDCDC;
}

.everyone{
    background-color: #FFFFFF; 
}

.private{
background-color: #FCDEDE;
}

.message{ 
word-wrap:break-word;
}       

.time{
color: #AAAAAA;
}

.nickname{
font-weight: 700;
margin-left:4px;
}

.action{
font-weight: 400;
margin-left:4px;
}

.direction, .message {
margin-left:4px;

}

.direction{
font-weight: 700;
}

.message-structure span{
line-height: 20px;
}